{
    "presets": [
        "next/babel"
    ],
    "plugins": [
        [
            "@babel/plugin-proposal-decorators",
            {
                "legacy": true
            }
        ],
        [
            "@babel/plugin-proposal-class-properties",
            {
                "loose": true
            }
        ],
        [
            "module-resolver",
            {
                "root": [
                    "."
                ],
                "alias": {
                    "@store": "./stores",
                    "@models": "./models"
                },
                "extensions": [
                    ".js"
                ]
            }
        ],
        [
            "import",
            {
                "libraryName": "antd",
                "libraryDirectory": "lib",
                "style": "index.css"
            }
        ],
        [
            "import",
            {
                "libraryName": "@ant-design/icons",
                "libraryDirectory": "lib/icons",
                "camel2DashComponentName": false
            },
            "@ant-design/icons"
        ]
    ]
}